{% load static %}
<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de {{ user.first_name }}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
</head>
<body>
    <p id="user" hidden>{{ user.first_name }}</p>
    <div id="map"
     data-lat="{{ lat|default:'0' }}"
     data-lng="{{ lng|default:'0' }}"
     data-radius="{{ radius|default:'0' }}"
     data-username="{{ user.first_name }}">
    </div>

    <a href="{% url 'view_profile' user.id %}" class="floating-button">
        Tornar al perfil
    </a>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{% static 'js/map.js' %}"></script>
</body>
</html>
