<!DOCTYPE html>
<html lang="cat">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contrasenya</title>
</head>
<body>
    <div>
        <h1>Recuperar contrasenya</h1>
        <p>Si us plau, introdueix el teu correu electrònic per recuperar la teva contrasenya.</p>
        <form method="POST" action="{% url 'recovery_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
    </div>
</body>
</html>