{% extends 'usernav.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Buscar llibres</title>
    <script>
        const toggleWishlistUrl = "{% url 'toggle_wishlist' %}";
    </script>
    <script src="{% static 'js/wishlist.js' %}"></script>
    <script src="{% static 'js/filters.js' %}"></script>
</head>
<body>
    
    <div class="container">
        {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
        <div id="main-content" class="row">
            <!-- Columna izquierda: Filtros -->
            <div class="col-md-3">
                <!-- Botón para mostrar/ocultar filtros en móviles -->
                <div class="d-md-none mb-3">
                    <button class="btn btn-primary w-100" id="toggleFiltersBtn">Mostrar Filtres</button>
                </div>

                <!-- Contenedor de filtros -->
                <div class="filters d-md-block" id="filtersPanel" autocomplete="off">
                    <h5>Filtres</h5>
                    <form method="get" action="{% url 'books' %}">
                        <div class="mb-3">
                            <label for="title" class="form-label">Títol o ISBN:</label>
                            <input type="text" id="title" name="title" class="form-control" value="{{ request.GET.title }}">
                        </div>
                        <div class="mb-3">
                            <label for="author" class="form-label">Autor:</label>
                            <input type="text" id="author" name="author" class="form-control" value="{{ request.GET.author }}">
                        </div>
                        <div class="mb-3">
                            <label for="min_price" class="form-label">Preu mínim:</label>
                            <input type="number" id="min_price" name="min_price" class="form-control" step="0.01" value="{{ request.GET.min_price }}">
                        </div>
                        <div class="mb-3">
                            <label for="max_price" class="form-label">Preu màxim:</label>
                            <input type="number" id="max_price" name="max_price" class="form-control" step="0.01" value="{{ request.GET.max_price }}">
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Categoria:</label>
                            <select id="category" name="category" class="form-select">
                                <option value="">Totes les categories</option>
                                {% for cat in categories %}
                                    <option value="{{ cat.name }}" {% if request.GET.category == cat.name %}selected{% endif %}>
                                        {{ cat.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn-filter btn-primary mb-2">Filtrar</button>
                        <a href="{% url 'books' %}" class="btn-reset btn-danger w-100">Restablir filtres</a>
                    </form>
                </div>
            </div>

            <!-- Columna central: Libros -->
            <div class="col-md-9">
                <h2 class="text-center mb-4">Tots els llibres</h2>
                {% if books %}
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for book in books %}
                    <div class="col">
                        <div class="book-card">
                            {% if book.book.image_url %}
                            <a href="{% url 'book_details' book.id %}">
                                <img src="{{ book.book.image_url }}" alt="{{ book.title }}" class="img-fluid">
                            </a>
                            {% else %}
                            <a href="{% url 'book_details' book.id %}">
                                <img src="{% static 'img/logo.png' %}" alt="{{ book.title }}" class="img-fluid">
                            </a>
                            {% endif %}
                            <h4>{{ book.title }}</h4>
                            <p>{{ book.author }}</p>
                            <p>{{ book.category }}</p>
                            <p>Propietari: 
                                <a href="{% url 'view_profile' book.owner_id %}">
                                    {{ book.owner.first_name }}
                                </a>
                            </p>
                            <a href="{% url 'book_details' book.id %}" class="btn btn-primary btn-sm">Consultar detalls</a>
                            <p></p>
                            <a href="{% url 'request_exchange' book.id %}" class="btn btn-secondary btn-sm">Sol·licitar intercanvi</a>
                            <p></p>
                            <form method="post" class="wishlist-form d-inline">
                                {% csrf_token %}
                                <button type="button" 
                                        class="btn btn-secondary btn-sm wishlist-btn" 
                                        data-book-id="{{ book.id }}" 
                                        data-in-wishlist="{% if user_wishlist and book.isbn in user_wishlist.get_isbns %}true{% else %}false{% endif %}">
                                    {% if user_wishlist and book.isbn in user_wishlist.get_isbns %}
                                        Eliminar de la llista de desitjats
                                    {% else %}
                                        Afegir a llista de desitjats
                                    {% endif %}
                                </button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1{% if request.GET.title %}&title={{ request.GET.title }}{% endif %}">« primera</a>
                            <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.title %}&title={{ request.GET.title }}{% endif %}">← anterior</a>
                        {% endif %}

                        <span class="current">
                            Pàgina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}{% if request.GET.title %}&title={{ request.GET.title }}{% endif %}">següent →</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.title %}&title={{ request.GET.title }}{% endif %}">última »</a>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                <p class="text-center">No hi ha llibres disponibles.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
