<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<header class="header">
    <a href="#" class="logo">Book4Book</a>
    <nav>
        <ul class="nav-list">
            <li><a href="{% url 'login' %}" class="btn btn-login">Iniciar Sessió</a></li>
            <li><a href="{% url 'register' %}" class="btn btn-register">Registrar-se</a></li>
        </ul>
    </nav>
</header>

{% block content %}{% endblock %}