

.container {
    margin-top: 20px;
}


.book-card {
    background-color: var(--fullWhite);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.book-card:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    border-color: var(--primaryColor);
    transform: none;
}

.book-card img {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.book-card h4 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.book-card p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #555;
}


.book-card .btn-primary {
    background-color: var(--primaryColor);
    color: var(--fullWhite);
    border: none;
    padding: 10px 15px;
    font-size: 0.875rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.book-card .btn-primary:hover {
    background-color: #0a0f36;
}


.book-card .btn-secondary {
    background-color: var(--secondaryColor);
    color: #1E1E24;
    border: none;
    font-size: 0.875rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.book-card .btn-secondary:hover {
    background-color: var(--secondaryHoverColor);
}


.filters {
    background-color: var(--fullWhite);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
    position: sticky;
    top: 6rem;
    z-index: 1000;
    width: 100%;
    height: 36.6rem;
    overflow: auto;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.filters:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    border-color: var(--primaryColor);
}

.filters h5 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.filters .form-label {
    font-size: 0.875rem;
    font-weight: bold;
}

.btn {
    width: 100%;
    
}

.btn-filter {
    display: block;
    width: 100%;
    background-color: var(--primaryColor) !important;
    color: var(--fullWhite);
    stroke: none !important;
    outline: none !important;
    box-shadow: none !important;
    border: none;
    padding: 0.625rem 0.9375rem;
    font-size: 0.875rem;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
}

.btn-search {
    display: block;
    color: var(--fullWhite);
    background-color: var(--primaryColor);
    border: none;
    padding: 0.625rem 0.9375rem;
    font-size: 0.875rem;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
}

.btn-reset {
    display: block;
    width: 100%;
    background-color: var(--secondaryColor);
    border: none;
    padding: 0.625rem 0.9375rem;
    font-size: 0.875rem;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    color: black
}

.btn:focus {
    background-color: var(--primaryColor) !important;
    color: var(--fullWhite) !important;
    outline: 4px solid var(--secondaryColor) !important;
}

.btn-filter:focus {
    background-color: #0a0f36;
    outline: 4px solid var(--secondaryColor) !important;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    .btn-primary {
        margin-bottom: 15px;
    }

    .book-card {
        
        overflow: auto;
    }

    .filters-toggle {
        display: block;
        background-color: var(--primaryColor);
        color: var(--fullWhite);
        border: none;
        padding: 10px 15px;
        font-size: 1rem;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 15px;
        cursor: pointer;
    }

    .filters-toggle:hover {
        background-color: #0a0f36;
    }
}