h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
    padding: 20px;
}

.send-btn {
    background-color: var(--primaryColor) !important;
    color: var(--fullWhite);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.book-section, .form-box {
    flex: 1 1 300px; /* Asegura que los paneles sean del mismo tamaño */
    max-width: 400px; /* Limita el ancho máximo */
    background-color: var(--fullWhite);
    outline: var(--primaryColor) solid 0.25rem;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.book-section img, .book-box img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-height: 250px; /* Limita la altura máxima de las imágenes */
    object-fit: cover;
}

.book-label, .preview-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.no-img {
    color: black
}

.form-box label {
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-box select {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    color: black;
    background-color: white;
}

.form-box button {
    padding: 10px 15px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

.error {
    color: red;
    text-align: center;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 20px;
    }

    .book-section, .form-box {
        width: 100%; /* Asegura que los paneles ocupen todo el ancho en pantallas pequeñas */
        max-width: 100%; /* Ocupa todo el ancho de la pantalla */
    }
}