{% extends 'navbar.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mi primera template con djago {{titulo}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci aliquid, nulla temporibus totam alias nihil quidem, tempore inventore fugiat, sapiente possimus cumque culpa! Qui molestias deleniti enim autem delectus, magni odio quod! Vitae assumenda iste ut voluptatem, officiis illo, repellendus eaque repellat, error pariatur placeat quo exercitationem quisquam magnam.</p>
</body>
</html>

{% endblock %}