body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* Estilo del contenedor del carrusel */
.carousel-container {
    margin-top: 50px; 
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Imagen del carrusel */
.carousel-inner img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.carousel-inner img:hover {
    transform: scale(1.05); /* Efecto de zoom suave */
}

/* Estilo del título de categoría */
.category-title {
    text-align: left;
    margin-top: 80px;
    margin-left: 12%;
    font-size: 30px;
    font-weight: bold;
    color: #111D4A;
    text-transform: uppercase;
}

/* Fondo del carrusel */
.carousel-background {
    background-color: #111D4A;
    padding: 40px 0;
    border-radius: 10px;
}

/* Estilo de las tarjetas de los libros */
.book-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 15px 0;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.book-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.book-card img {
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
    max-height: 200px; /* Asegura que las imágenes no se desborden */
}

.book-card img:hover {
    transform: scale(1.05); /* Efecto de zoom */
}

.book-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.book-card p {
    font-size: 14px;
    color: #777;
    margin-bottom: 0;
}

/* Estilo para los controles del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #fff;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Estilo para los indicadores del carrusel */
.carousel-indicators [data-bs-target] {
    background-color: #fff;
    border: 1px solid #111D4A;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 5px;
}

.carousel-indicators .active {
    background-color: #111D4A;
}