
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Helvetica', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}


.header {
    background-color: var(--fullWhite);
    padding: 1rem 5%;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.logo {
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    background: linear-gradient(45deg, var(--primaryColor), var(--primaryColor));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}


.nav-list {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.nav-link {
    color: #2c3e50;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 0.5rem 1rem;
}

.nav-link:hover {
    color: #3498db;
}


.btn {
    padding: 0.8rem 1.5rem;
    border-radius: 1.5625rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    border: 0.125rem solid transparent;
}


.btn-login {
    background-color: transparent;
    color: var(--primaryColor);
    border-color: var(--primaryColor);
}

.btn-login:hover {
    background-color: var(--primaryColor);
    color: var(--fullWhite);
}


.btn-register {
    background-color: var(--primaryColor);
    color: white;
    max-width: 100%;
    width: auto;
}

.btn-register:hover {
    background-color: white;
    color: var(--primaryColor);
    box-shadow: 0 0.25rem 0.9375rem rgba(41, 128, 185, 0.3);
    color: var(--primaryColor);
    border-color: var(--primaryColor);
}



.header {
    background-color: var(--fullWhite);
    padding: 1rem 5%;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


.logo {
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    background: linear-gradient(45deg, var(--primaryColor), var(--primaryColor));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}


.btn-login {
    background-color: transparent;
    color: var(--primaryColor);
    border: 0.125rem solid var(--primaryColor);
}

.btn-login:hover {
    background-color: var(--primaryColor);
    color: var(--fullWhite);
}

.btn-register {
    background-color: #111D4A;
    color: white;
}

.btn-register:hover {
    background-color: white;
    color: #111D4A;
    border: 0.125rem solid var(--primaryColor);
}