body {
    background-color: var(--bgColor) !important;
    color: #1E1E24 !important;
    font-family: Arial, sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: var(--fullWhite);
    color: #ecf0f1;
    padding: 0.625rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primaryColor);
    text-decoration: none;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-list,
.nav-list-right {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-link {
    text-decoration: none;
    color: #ecf0f1 !important;
    font-size: 1rem;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.625rem;
    background-color: #1a2b48;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    background-color: var(--secondaryColor);
    color: var(--primaryColor) !important;
}

.nav-icon {
    width: 1.875rem;
    height: 1.875rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: var(--primaryColor);
    border-radius: 0.625rem;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--fullWhite);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 0.3125rem;
    overflow: hidden;
    min-width: 9.375rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.nav-group {
    display: flex;
    gap: 0.625rem;
    padding: 0.625rem 1.25rem;
    background-color: #1a2b48;
    border-radius: 1.25rem;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.nav-group .nav-link {
    background-color: transparent;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.625rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-group .nav-link:hover {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}


.nav-list-right {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    flex-grow: 0;
}

.dropdown-men:focus-within {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--fullWhite);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 0.3125rem;
    overflow: hidden;
    min-width: 9.375rem;

   
    opacity: 0;
    visibility: hidden;
    transform: translateY(-0.625rem);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu li {
    padding: 0.625rem;
    text-align: left;
}

.dropdown-menu li a {
    text-decoration: none;
    color: var(--primaryColor);
    display: block;
    padding: 0.625rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu li a:hover {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}